.ul-multicheckbox {
    margin:0;
}

#place_order {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background: #2271b1;
    border-color: #2271b1;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    -webkit-appearance: none;
    flex: auto;
    position: static;
    white-space: nowrap;
    margin-bottom: 0;
    font: 400 1.41575em/1.618 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

#wc-globalpayments_gpapi-cc-form {
    margin-bottom: 15px;
}
